{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'directories/css/base.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'directories/css/login.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'directories/css/register.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'directories/css/home.css' %}">
        <title>RoVot</title>
    </head>
    <body>
        <div class="container">
            <main id="content">
                {% block content %}{% endblock content %}
            </main>
        </div>
        <script>
            setTimeout(function(){
                if ($('#messages').length > 0) {
                    $('#messages').remove()
                }
            }, 2000)
        </script>
    </body>
</html>