{% extends 'directories/base.html' %}
{% block content %}
    <div class=login-container>
        <div class="login-form-container">
            <form class="login-form" method="POST">
                {% csrf_token %}
                <h1>Login</h1>
                <div class="login-email">
                    <label for="login-email-label">Email/Username</label>
                    <input type="text" name="login-username" class="input-email" id="input-email-login">
                </div>
                <div class="login-password">
                    <label for="login-password-label">Password</label>
                    <input type="password" name="login-password" class="input-password" id="input-password-login">
                </div>
                <div class="login-button">
                    <button type="submit" value="login" id="login-button">Login</button>
                </div>

                {% if messages %}
                    {% for message in messages %}
                        <div class="alert-message" id="messages" role="alert">{{message}}</div>
                    {% endfor %}
                {% endif %}
                
                <div class="login-create">
                    <p>Not Registered? <a href='../register'>Create an account</a></p>
                </div>
            </form>
        </div>
    </div>
{% endblock content%} 