{% extends 'directories/base.html' %}
{% block content %}
    <div class="register-container">
        <div class="register-form-container">
            <div class="register-form">
                <h1>Register an account</h1>
                <div class="register-username">
                    <label for="register-username-label">Username</label>
                    <input type="text" class="input-username" id="input-username-register">
                </div>
                <div class="register-email">
                    <label for="register-email-label">Email</label>
                    <input type="text" class="input-email" id="input-email-register">
                </div>
                <div class="register-password">
                    <label for="register-password-label">Password</label>
                    <input type="text" class="input-password" id="input-password-register">
                </div>
                <div class="register-confirm">
                    <label for="register-confirm-label">Confirm Password</label>
                    <input type="text" class="input-confirm" id="input-confirm-register">
                </div>
                <div class="register-button">
                    <button type="button" id="register-button">Register Account</button>
                </div>
                <div class="register-exist">
                    <p>Already have an account? <a href='../login'>Sign in.</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock content%}