.home-container {
    display: flex;
    justify-content: center;
}

.chatbox {
    width: 550px;
    position: fixed;
    top: 75px; bottom: 135px;
    padding: 0 30px;
    overflow-y: auto;
}

.chatbox-header {
    text-align: justify;
    text-justify: inter-word;
}

/* - Messages - */
.messages-container {
    padding: 30px 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.msg {
    border: none !important;
    border-radius: 15px !important;
    width: auto;
    background-color: #fff;
    box-shadow: -5px 10px 20px 10px rgba(0,0,0,0.1);
    margin-bottom: 25px;
}

.msg .msg-text {
    padding: 15px;
}

.received {
    align-self: flex-start;
}

.sent {
    align-self: flex-end;
}

/* - Input - */
.chatbox-input {
    position: fixed;
    bottom: 75px;
}

.input-group {
    outline: none !important;
    border-radius: 20px;
    width: 505px;
    height: 50px;
}

.input-chat {
    font-family: Inconsolate, monospace;
    font-size: 16px;
    border: none !important;
    border-radius: 15px !important;
    background-color: #fff;
    box-shadow: -5px 10px 20px 10px rgba(0,0,0,0.1);
    padding: 0 20px;
    transition: 0.5s;
}

#txtbox {
    width: 100%;
    height: 100%;
}

.input-chat:focus {
    border: none !important;
    border-radius: 15px;
    border-color: none !important;
    box-shadow: 0px 0px 10px 0px rgba(48,45,48,0.3);
    outline: none;
    transition: 0.5s;
}